.icon {
  font-size: 24px !important;
}
.nav-item {
  width: 16% !important;
}
#long-menu .MuiMenu-list {
  background-image: linear-gradient(
    to right,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  ) !important;
  padding: 0.3em !important;
}
#long-menu .inner-gradient-border {
  background-color: black !important;
  color: white !important;
}
#long-menu .inner-gradient-border li:hover {
  background-color: #1c2123 !important;
  color: white !important;
}
