.drawers {
  position: absolute !important;
  z-index: 20 !important;
  top: 5px;
  right: 5px;
}
.hide {
  display: none !important;
}
.drawer {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  clear: both;
  float: right;
}
.tab {
  color: white !important;
  font-size: 12px !important;
  text-transform: lowercase !important;
  border-radius: 2em !important;
  background-color: #1c2123;
  width: 3em;
  padding: 4px;
}
.color-drawer {
  top: 10em !important;
}
.tab-content-wrapper.animate-in {
  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
  animation: fadeIn 0.25s ease-in 0s 1 forwards;
}
.tab.animate-tab-out {
  animation: slideOut 0.3s ease-out 1 forwards;
}
.tab.animate-tab-in {
  animation: slideOut 1s ease-out 0s 1 reverse;
}
.tab .inner-wrapper {
  background-color: #1c2123 !important;
  padding: 0.5em !important;
  font-size: 12px;
  border-radius: 2em !important;
}
.tab .inner-wrapper:hover {
  color: #1c2123 !important;
  background-color: white !important;
  animation: swapColors 1s ease 1;
  cursor: pointer;
}
.gradient-border {
  background-image: linear-gradient(
    to right,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  ) !important;
}

.tab-content {
  padding: 4px !important;
}
.drawer-content {
  color: white !important;
}

@keyframes swapColors {
  0% {
    background-color: #1c2123;
    color: white;
  }
  100% {
    color: #1c2123;
    background-color: white;
  }
}
@keyframes slideOut {
  100% {
    transform: translateX(100px);
    opacity: 0;
    width: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
